body {

}
.signIn {
    display: flex;
    justify-content: flex-end;
    white-space: nowrap;
    padding-right: 6px;
    text-decoration: none;
}

.signUp:hover {
    background-color: #5a849f;
    border:none;
}

.signUp {
    display: flex;
    justify-content: flex-end;
    white-space: nowrap;
    border:1px solid white;
    padding: 7px 7px;
    text-decoration: none;
    border-radius: 9px;
}
.container-carousel img{ 
    margin-top: 5px;
    width: 100%;
    height: 60px; 
}

.section2 { 
    margin-top: 5px;
} 

.section3 { 
    margin-top: 5px; 
    background-color: #5a849f;
}
.section3 p { 
    margin-left: 30px;
}
.section3 h2 { 
    margin-left: 10px;
}
.section3 img {
    height: 320px;
    width: 300px;
    margin-left: 150px;
}
.section4 { 
    margin-top: 5px; 
    background-color: black;
}
.section5 { 
    margin-top: 5px; 
    background-color: #5a849f;
}